# Set default behavior, in case people don't have core.autocrlf set
* text=auto

# Files that are truly binary and should not be modified
*.doc      binary
*.elf      binary
*.exe      binary
*.jpg      binary
*.ngc      binary
*.png      binary
*.vsd      binary
*.vsdx     binary
*.zip      binary
